@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Poppins:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/hero.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.news{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/salon\ \(1\).jpg);
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.cart-btn {
    @apply bg-yellow-400 flex items-center justify-center gap-2 py-1 px-4 rounded-md shadow-sm w-full lg:max-w-max
}

.red-btn{
    @apply bg-red-500 flex items-center justify-center gap-2 py-1 px-4 rounded-md shadow-sm w-full lg:max-w-max
}

.policy-list{
    @apply list-disc space-y-3 text-justify;
}

.prod-container {
    @apply w-2/5 space-y-10;
}

.contact-box{
    @apply flex items-center gap-4  p-3 rounded-md shadow;
}

.input-container{
    @apply flex flex-col space-y-2 lg:flex-row lg:space-y-2 lg:gap-5
}

.input-box{
    @apply p-2 text-black rounded w-full mt-2 border border-black;
}